*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fef5f7;
    color: #000000;
    line-height: 1.6;
}
header,
footer {
    background-color: #c93a6b;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
}
header h1{
    font-size: 2rem;
}
nav{
    background-color: #bd9ca5;
    padding: 15px 0;
    position: sticky;
    top: 0;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
nav ul li a {
    color: rgb(148, 42, 153);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-weight: bold;
}
nav ul li a:hover {
    background-color: #ebdfe3;
    transform: scale(1.05);
    color: #5e3a45;
}
main {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
    min-height: 60vh;
}
section {
    background-color: rgb(236, 183, 217);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
h2 {
    color: #741fa5;
    margin-bottom: 20px;
    text-align: center;
}
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}
th td {
    border: 1px solid #f5d6e2;
    padding: 12px;
}
th {
    background-color: #d96c8e;
    color: white;
    font-weight: bold;
}
tr:nth-cchild(even) {
    background-color: #fceef3;
}
tr:hover {
    background-color: #f8e0e8;
    transition: 0.3s;
}
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
    margin: 0 auto;
}
label {
    font-weight: bold;
    color: #541028;
}
input, textarea, select {
    padding: 10px;
    border: 1px solid #f0c4d4;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
    background-color: #fffefe;
}
input:focus, textarea:focus, select:focus {
    border-color: #d96c8e;
    outline: none;
}
button, 
.submit-but {
    background-color: #c93a6b;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
}
button:hover,
.submit-but:hover {
    background-color: #844357;
    transform: scale(1.02);
}
.contact-info {
    text-align: center;
    margin-bottom: 30px;
}
.contact-info p {
    margin: 10px 0;
}
@media (max-width: 768px){
    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    table, thead, tbody, th, td, tr {
        display: block;
    }
    thead {
        display: none;
    }
    tr {
        margin-bottom: 15px;
        border: 1px solid #f5d6e2;
        border-radius: 10px;
        padding: 8px;
        background-color: white;
    }
    td {
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
        padding: 4px 6px;
        border-bottom: 1px solid #f5d6e2;
        text-align: right;
    }
    td:last-child {
        border-bottom: none;
    }
    td::before {
        content: attr(data-label);
        font-weight: bold;
        color: #97244c;
        text-align: left;
        width: 45%;
    }
}